In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
og_transfer_data = pd.read_csv('ewenme transfer data/data.csv').drop('Unnamed: 0', axis = 1)
transfer_data = pd.read_csv('ewenme transfer data/data.csv').drop('Unnamed: 0', axis = 1)
transfer_data = transfer_data[transfer_data.year >= 2014]
transfer_data = transfer_data[transfer_data.transfer_period == 'Summer']
transfer_data = transfer_data[transfer_data.transfer_movement == 'out']
transfer_data = transfer_data[transfer_data.fee.str.contains('oan') == 0]
transfer_data = transfer_data[transfer_data.club_involved_name != 'Retired']
transfer_data = transfer_data[transfer_data.player_name.str.len() > 3]

In [3]:
transfer_data.club_name = transfer_data.club_name.str.replace('SAD','')
transfer_data.club_name = transfer_data.club_name.str.replace(' de ',' ')
transfer_data.club_name = transfer_data.club_name.str.replace(' e ',' ')

In [4]:
transfer_data

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season
117354,Ajax Amsterdam,Daley Blind,24.0,Centre-Back,Man Utd,£15.75m,out,Summer,15.75,Eredivisie,2014,2014/2015
117355,Ajax Amsterdam,Siem de Jong,25.0,Attacking Midfield,Newcastle,£7.83m,out,Summer,7.83,Eredivisie,2014,2014/2015
117356,Ajax Amsterdam,Kenneth Vermeer,28.0,Goalkeeper,Feyenoord,£900Th.,out,Summer,0.90,Eredivisie,2014,2014/2015
117357,Ajax Amsterdam,Danny Hoesen,23.0,Centre-Forward,FC Groningen,£720Th.,out,Summer,0.72,Eredivisie,2014,2014/2015
117358,Ajax Amsterdam,Jody Lukoki,21.0,Right Winger,PEC Zwolle,£450Th.,out,Summer,0.45,Eredivisie,2014,2014/2015
...,...,...,...,...,...,...,...,...,...,...,...,...
167281,Elche CF,Tekio,30.0,Right-Back,Volos NPS,Free transfer,out,Summer,0.00,Primera Division,2020,2020/2021
167282,Elche CF,Jonathas,31.0,Centre-Forward,Sharjah FC,Free transfer,out,Summer,0.00,Primera Division,2020,2020/2021
167283,Elche CF,Iván Sánchez,27.0,Right Winger,Birmingham,Free transfer,out,Summer,0.00,Primera Division,2020,2020/2021
167284,Elche CF,Jony Ñiguez,35.0,Central Midfield,CD Alcoyano,Free transfer,out,Summer,0.00,Primera Division,2020,2020/2021
167285,Elche CF,Manuel Sánchez,32.0,Defensive Midfield,Real Ávila,Free transfer,out,Summer,0.00,Primera Division,2020,2020/2021

In [5]:
fm_data = pd.read_csv('fm data/data.csv').drop(['Unnamed: 0', 'Unnamed: 28'], axis = 1)
fm_data = fm_data[fm_data['year'].apply(lambda x: str(x).isdigit())]
fm_data = fm_data[~(fm_data.expires == '-')]
fm_data.year = fm_data.year.astype(int)
fm_data = fm_data[fm_data.name.str.len() > 3]

In [6]:
fm_data.club = fm_data.club.str.replace('SAD','')
fm_data.club = fm_data.club.str.replace(' de ',' ')
fm_data.club = fm_data.club.str.replace(' e ',' ')
fm_data.club = fm_data.club.str.replace('Hispalis','Betis')

In [7]:
fm_data

,name,country,club,age,position,wage,value,cost,expires,rating,...,avgage,balance,wagebudget,trainingfacilities,youthfacilities,youthacademy,stadiumcap,avgattendance,ability,potential.1
0,Aníbal Capela,Portugal,Associação Académica Coimbra,22,D C,£840,£90k,£139k,29-06-2017,58.41,...,NaN,£592k,£6k,16.0,15.0,15.0,14500.0,4494.0,62.9,64.79
1,Cleyton,NaN,Associação Académica Coimbra,23,AM C,£840,£113k,£58k,04-07-2016,64.26,...,NaN,£592k,£6k,16.0,15.0,15.0,14500.0,4494.0,62.9,64.79
2,Diogo Valente,Portugal,Associação Académica Coimbra,28,AM L,£2k,£545k,£678k,29-06-2015,63.45,...,NaN,£592k,£6k,16.0,15.0,15.0,14500.0,4494.0,62.9,64.79
3,Djavan,NaN,Associação Académica Coimbra,25,D/WB/M L,£610,£26k,£12k,25-01-2016,60.49,...,NaN,£592k,£6k,16.0,15.0,15.0,14500.0,4494.0,62.9,64.79
4,Elton Monteiro,NaN,Associação Académica Coimbra,19,D C,£2k,£145k,£285k,29-06-2016,54.87,...,NaN,£592k,£6k,16.0,15.0,15.0,14500.0,4494.0,62.9,64.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84639,Wílmar Barrios,Colombia,Zenit,25,DM,£36k,£9m,£20m,30-06-2023,82.50,...,NaN,£87m,£910k,11.0,9.0,17.0,60000.0,48120.0,77.8,80.00
84640,Yaroslav Rakitskyi,Ukraine,Zenit,29,D C,£41k,£6m,£11m,30-06-2021,77.00,...,NaN,£87m,£910k,11.0,9.0,17.0,60000.0,48120.0,77.8,80.00
84641,Yordan Osorio,Venezuela,Zenit,25,D C,£6k,£3m,£2m,30-06-2020,75.50,...,NaN,£87m,£910k,11.0,9.0,17.0,60000.0,48120.0,77.8,80.00
84642,Yury Zhirkov,Russia,Zenit,35,D/WB/AM L,£32k,£258k,£75k,30-06-2020,78.00,...,NaN,£87m,£910k,11.0,9.0,17.0,60000.0,48120.0,77.8,80.00
84643,Alexandr Kokorin,Russia,Sochi,28,AM RL/ ST,£22k,£2m,£3m,31-05-2020,77.20,...,NaN,£87m,£910k,11.0,9.0,17.0,60000.0,48120.0,77.8,80.00

In [8]:
import unidecode

clubs_transfer = transfer_data.club_name.unique().tolist() # Base names
clubs_fm = set(fm_data.club.unique().tolist() + fm_data['club.1'].unique().tolist() + transfer_data.club_involved_name.unique().tolist())

big_list = []

for club_transfer in tqdm(clubs_transfer):
    club_transfer = unidecode.unidecode(club_transfer)
    small_list = []
    for club_fm in clubs_fm:
        club_fm = unidecode.unidecode(club_fm)
        score = 0

        # Check for words equal
        for word in club_transfer.split(' '):
            if word in club_fm.split(' ') and len(word) > 2:
                score += 10
        # Check for equal capitalized letters (tiebreaker)
        for capitalized_letter in [l for l in club_transfer if l.isupper()]:
            if capitalized_letter in club_fm:
                score += 4

        small_list.append(score)
    big_list.append(small_list)

100%|██████████| 252/252 [00:04<00:00, 55.39it/s]

In [9]:
team_matcher = pd.DataFrame(big_list, index=clubs_transfer, columns=clubs_fm)
team_matcher.idxmax().to_csv('misc/team_indices_match.csv')
team_matcher = pd.read_csv('misc/team_indices_match.csv')
team_matcher

                Unnamed: 0                      0
0         FC CFR 1907 Cluj              Fulham FC
1       C. Lleida Esportiu  SC Cambuur-Leeuwarden
2     Campomorone S.Olcese  SC Cambuur-Leeuwarden
3          S.D. Amorebieta           ADO Den Haag
4                Clitheroe  SC Cambuur-Leeuwarden
...                    ...                    ...
3671           AS Avellino       AS Saint-Étienne
3672         Oxford United           Leeds United
3673      U.C. AlbinoLeffe  SC Cambuur-Leeuwarden
3674          Valenciennes              VVV-Venlo
3675        Erzgebirge Aue         Ajax Amsterdam

[3676 rows x 2 columns]

In [10]:
players_transfer = og_transfer_data.player_name.unique()
players_fm = fm_data.name.unique()

big_list = []

for player_transfer in tqdm(players_transfer):
    player_transfer = unidecode.unidecode(player_transfer)
    small_list = []
    for player_fm in players_fm:
        player_fm = unidecode.unidecode(player_fm)
        score = 0

        # Check for words equal
        for word in player_transfer.split(' '):
            if word in player_fm.split(' ') and len(word) > 2:
                score += 10
        # Check for equal capitalized letters (tiebreaker)
        for capitalized_letter in [l for l in player_transfer if l.isupper()]:
            if capitalized_letter in player_fm:
                score += 4

        # Tie breakers
        if len(player_transfer) == len(player_fm):
            score += 2
        if player_transfer[0] == player_fm[0]:
            score += 1
        if player_transfer[-1] == player_fm[-1]:
            score += 1

        small_list.append(score)
    big_list.append(small_list)

100%|██████████| 34267/34267 [1:05:11<00:00,  8.76it/s]

In [11]:
# Matching wrong when one of the names is not in the database
## EG. winter transfer or no relevant transfer after 2014

In [12]:
player_matcher = pd.DataFrame(big_list, index=players_transfer, columns=players_fm)
player_matcher.idxmax().to_csv('misc/player_indices_match.csv')
player_matcher = pd.read_csv('misc/player_indices_match.csv')
player_matcher

              Unnamed: 0                  0
0          Aníbal Capela      Aníbal Capela
1                Cleyton            Cleyton
2          Diogo Valente      Diogo Valente
3                 Djavan             Djavan
4         Elton Monteiro     Elton Monteiro
...                  ...                ...
31577  Michal Kucharczyk  Michal Kucharczyk
31578    Nikolay Zolotov    Nikolay Zajtsev
31579  Rafal Augustyniak  Rafal Augustyniak
31580    Alexey Sutormin   Aleksey Sutormin
31581   Kirill Schetinin    Kirill Kurbatov

[31582 rows x 2 columns]

In [13]:
for _, row in tqdm(team_matcher.iterrows(), total = len(team_matcher)):
    fm_data.loc[fm_data['club'] == row['Unnamed: 0'], 'club'] = row['0']
    fm_data.loc[fm_data['club.1'] == row['Unnamed: 0'], 'club.1'] = row['0']
    transfer_data.loc[transfer_data['club_involved_name'] == row['Unnamed: 0'], 'club_involved_name'] = row['0']
for _, row in tqdm(player_matcher.iterrows(), total = len(player_matcher)):
    fm_data.loc[fm_data['name'] == row['Unnamed: 0'], 'name'] = row['0']

100%|██████████| 3676/3676 [01:02<00:00, 58.57it/s]
100%|██████████| 31582/31582 [04:48<00:00, 109.60it/s]

In [14]:
transfer_data['merger_id'] = transfer_data.club_name + transfer_data.year.astype(str)
fm_data['merger_id'] = fm_data.club + fm_data.year.astype(str)

In [15]:
regular_transfers_data = pd.merge(transfer_data, fm_data, how='inner', left_on=['merger_id','player_name'], right_on=['merger_id','name']).sort_values('fee_cleaned', ascending = False)
regular_transfers_data['after_loan'] = 0
regular_transfers_data

,club_name,player_name,age_x,position_x,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,...,balance,wagebudget,trainingfacilities,youthfacilities,youthacademy,stadiumcap,avgattendance,ability,potential.1,after_loan
3276,FC Barcelona,Neymar,25.0,Left Winger,Paris Saint-Germain,£199.80m,out,Summer,199.8,Primera Division,...,£58m,£116k,18.0,18.0,20.0,85000.0,77500.0,83.1,85.0,0
2974,Borussia Dortmund,Ousmane Dembélé,20.0,Right Winger,FC Barcelona,£124.20m,out,Summer,124.2,1 Bundesliga,...,£191m,£134k,18.0,13.0,18.0,85000.0,85000.0,77.7,80.3,0
4570,SL Benfica,João Félix,19.0,Second Striker,Atlético Madrid,£113.40m,out,Summer,113.4,Liga Nos,...,£11m,£50k,20.0,19.0,20.0,64235.0,52768.0,77.8,81.6,0
4709,Atlético Madrid,Antoine Griezmann,28.0,Second Striker,FC Barcelona,£108.00m,out,Summer,108.0,Primera Division,...,£0,£0,17.0,14.0,15.0,55000.0,47000.0,80.7,83.3,0
4024,Real Madrid,Cristiano Ronaldo,33.0,Left Winger,Juventus FC,£105.30m,out,Summer,105.3,Primera Division,...,£123m,£0,18.0,18.0,18.0,80000.0,73000.0,82.8,85.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5189,Rio Ave FC,Vitó,22.0,Attacking Midfield,PEC Zwolle,?,out,Summer,NaN,Liga Nos,...,£4m,£76k,12.0,14.0,12.0,9023.0,3954.0,74.1,77.8,0
5200,CD Tondela,Philipe Sampaio,25.0,Centre-Back,EA Guingamp,?,out,Summer,NaN,Liga Nos,...,£2m,£43k,10.0,11.0,9.0,4973.0,2308.0,71.5,75.5,0
5208,Vitória Guimarães SC,Florent Hanin,30.0,Left-Back,FC Paços Ferreira,?,out,Summer,NaN,Liga Nos,...,£3m,£133k,16.0,16.0,14.0,27212.0,18756.0,74.6,78.8,0
5209,Vitória Guimarães SC,João Pedro,23.0,Centre-Forward,FC Paços Ferreira,?,out,Summer,NaN,Liga Nos,...,£3m,£133k,16.0,16.0,14.0,27212.0,18756.0,74.6,78.8,0
5254,Getafe CF,Fayçal Fajr,32.0,Central Midfield,AS Saint-Étienne,?,out,Summer,NaN,Primera Division,...,£5m,£453k,12.0,10.0,10.0,16800.0,10500.0,78.0,80.6,0

In [16]:
transfer_data['merger_id'] = transfer_data.club_involved_name + transfer_data.year.astype(str)
fm_data['merger_id'] = fm_data.club + fm_data.year.astype(str)

In [17]:
transfers_after_loan = pd.merge(transfer_data, fm_data, how='inner', left_on=['merger_id','player_name'], right_on=['merger_id','name']).sort_values('fee_cleaned', ascending = False)
transfers_after_loan = transfers_after_loan[transfers_after_loan.club == transfers_after_loan['club.1']]
transfers_after_loan['after_loan'] = 1
transfers_after_loan

,club_name,player_name,age_x,position_x,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,...,balance,wagebudget,trainingfacilities,youthfacilities,youthacademy,stadiumcap,avgattendance,ability,potential.1,after_loan
633,AS Monaco,Kylian Mbappé,19.0,Centre-Forward,Paris Saint-Germain,£130.50m,out,Summer,130.5,Ligue 1,...,£213m,£135k,16.0,14.0,16.0,47300.0,46763.0,79.3,82.6,1
1040,Chelsea FC,Álvaro Morata,27.0,Centre-Forward,Atlético Madrid,£50.40m,out,Summer,50.4,Premier League,...,£11m,£3m,17.0,14.0,15.0,55000.0,56000.0,83.9,87.1,1
1097,Inter Milan,Mauro Icardi,27.0,Centre-Forward,Paris Saint-Germain,£45.00m,out,Summer,45.0,Serie A,...,£159m,£4m,16.0,16.0,17.0,47300.0,47496.0,84.0,86.3,1
844,AS Monaco,Youri Tielemans,22.0,Central Midfield,Leicester City,£40.50m,out,Summer,40.5,Ligue 1,...,£18m,£160k,14.0,12.0,16.0,42000.0,31559.0,76.4,80.0,1
982,Real Madrid,Mateo Kovacic,25.0,Central Midfield,Chelsea FC,£40.50m,out,Summer,40.5,Primera Division,...,£4m,£150k,20.0,18.0,20.0,60000.0,41500.0,80.5,83.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,Derby County,Mason Bennett,24.0,Left Winger,Millwall FC,?,out,Summer,NaN,Championship,...,£9m,£197k,13.0,9.0,12.0,18700.0,13368.0,73.1,77.4,1
1034,Aston Villa,James Bree,22.0,Right-Back,Luton Town,?,out,Summer,NaN,Premier League,...,£7m,£153k,14.0,10.0,14.0,20000.0,8046.0,72.0,75.9,1
1036,Aston Villa,Scott Hogan,28.0,Centre-Forward,Birmingham City,?,out,Summer,NaN,Premier League,...,£11m,£292k,14.0,15.0,14.0,40000.0,22483.0,73.8,78.2,1
1048,Sheffield United,Callum Robinson,25.0,Left Winger,West Bromwich Albion,?,out,Summer,NaN,Premier League,...,£46m,£520k,15.0,14.0,15.0,35000.0,24631.0,75.6,79.7,1
1147,Hellas Verona,Joseph Ekuban,20.0,Centre-Forward,VVV-Venlo,?,out,Summer,NaN,Serie A,...,£7m,£451k,13.0,10.0,12.0,14517.0,10574.0,75.2,79.4,1

In [18]:
transfermarkt_plus_fm = regular_transfers_data.append(transfers_after_loan).sort_values('fee_cleaned', ascending = False)

## Opta Stats

In [19]:
flat_names = []
for player_name in transfermarkt_plus_fm['player_name']:
    flat_names.append(''.join([i for i in player_name if (i.isalpha() and i in unidecode.unidecode(player_name)) or i == ' ']))

transfermarkt_plus_fm['flat_name'] = flat_names

In [20]:
stats_data = pd.read_csv('ws data/stats_data_per_season.csv')
stats_data = stats_data[stats_data.league != 'Champions'] # Ignoring european competitions
stats_data = stats_data[stats_data.league != 'Europa']
stats_data.year += 1 # Synching seasons

In [21]:
tdf = pd.read_csv('ws data/player_season_AT_stats.csv')
stats_data = stats_data.join(tdf, rsuffix='_')

In [22]:
stats_data

,league,year,playerId,name,Unnamed: 2,gamesPlayed,subedOn,goalsScored,assists,yellow,...,CLaction,CLgoals,CLassists,CLMotM,CLrating,ELaction,ELgoals,ELassists,ELMotM,ELrating
0,Brasileir%C3%A3o,2014,460,Lcio,80,9,0,1,1,2,...,26.0,1.0,0.0,2.0,195.48,0.0,0.0,0.0,0.0,0.0
1,Brasileir%C3%A3o,2014,551,Z Roberto,594,23,3,3,3,2,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0
2,Brasileir%C3%A3o,2014,724,Marcos Assuno,246,4,2,0,0,0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0
3,Brasileir%C3%A3o,2014,1690,Clarence Seedorf,958,33,0,8,8,5,...,24.0,1.0,6.0,0.0,163.52,0.0,0.0,0.0,0.0,0.0
4,Brasileir%C3%A3o,2014,1792,Ronaldinho,188,14,0,7,1,6,...,12.0,4.0,2.0,1.0,82.41,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93143,Superliga,2020,393045,Manuel Llano,35,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0
93144,Superliga,2020,393142,Alexis Sabella,35,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0
93145,Superliga,2020,393149,Federico Martnez,47,2,0,0,1,0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0
93146,Superliga,2020,393151,Mateo Coronel,34,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0
93147,Superliga,2020,393508,Mauricio Guzmn,15,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0

## Player matcher not used because:
### Without team names it generates too many duplicates that we cannot either manually or automatically review

players_transfer = transfermarkt_plus_fm.flat_name.unique().tolist() # Base names
players_stats = stats_data.name.unique().tolist()

big_list = []

for player_transfer in tqdm(players_transfer):
    player_transfer = unidecode.unidecode(player_transfer)
    small_list = []
    for player_stats in players_stats:
        player_stats = unidecode.unidecode(player_stats)
        score = 0

        # Check for words equal
        for word in player_transfer.split(' '):
            if word in player_stats.split(' ') and len(word) > 2:
                score += 10
        # Check for equal capitalized letters (tiebreaker)
        for capitalized_letter in [l for l in player_transfer if l.isupper()]:
            if capitalized_letter in player_stats:
                score += 4

        # Tie breakers
        if len(player_transfer) == len(player_stats):
            score += 2
        if player_transfer[0] == player_stats[0]:
            score += 1
        if player_transfer[-1] == player_stats[-1]:
            score += 1

        small_list.append(score)
    big_list.append(small_list)

player_matcher = pd.DataFrame(big_list, index=players_transfer, columns=players_stats)
player_matcher.idxmax().to_csv('misc/player_names_match_opta-trasfermarkt.csv')
player_matcher = pd.read_csv('misc/player_names_match_opta-trasfermarkt.csv')
player_matcher

for _, row in tqdm(player_matcher.iterrows(), total = len(player_matcher)):
    stats_data.loc[stats_data.name == row['Unnamed: 0'], 'name'] = row['0']

In [23]:
final_df = pd.merge(transfermarkt_plus_fm, stats_data, how='inner', left_on=['year_x','flat_name'], right_on=['year','name']).sort_values('fee_cleaned', ascending = False)
final_df = final_df[final_df.gamesPlayed > 5]
final_df

,club_name,player_name,age_x,position_x,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,...,CLaction,CLgoals,CLassists,CLMotM,CLrating,ELaction,ELgoals,ELassists,ELMotM,ELrating
0,FC Barcelona,Neymar,25.0,Left Winger,Paris Saint-Germain,£199.80m,out,Summer,199.8,Primera Division,...,31.0,17.0,5.0,7.0,246.27,0.0,0.0,0.0,0.0,0.00
1,AS Monaco,Kylian Mbappé,19.0,Centre-Forward,Paris Saint-Germain,£130.50m,out,Summer,130.5,Ligue 1,...,9.0,6.0,0.0,1.0,64.43,1.0,0.0,0.0,0.0,6.09
2,Borussia Dortmund,Ousmane Dembélé,20.0,Right Winger,FC Barcelona,£124.20m,out,Summer,124.2,1 Bundesliga,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00
3,SL Benfica,João Félix,19.0,Second Striker,Atlético Madrid,£113.40m,out,Summer,113.4,Liga Nos,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00
4,Atlético Madrid,Antoine Griezmann,28.0,Second Striker,FC Barcelona,£108.00m,out,Summer,108.0,Primera Division,...,46.0,20.0,3.0,6.0,332.84,8.0,6.0,2.0,3.0,63.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4833,Derby County,Mason Bennett,24.0,Left Winger,Millwall FC,?,out,Summer,NaN,Championship,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00
4834,Aston Villa,James Bree,22.0,Right-Back,Luton Town,?,out,Summer,NaN,Premier League,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00
4835,Aston Villa,Scott Hogan,28.0,Centre-Forward,Birmingham City,?,out,Summer,NaN,Premier League,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00
4836,Sheffield United,Callum Robinson,25.0,Left Winger,West Bromwich Albion,?,out,Summer,NaN,Premier League,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00
4837,Sheffield United,Callum Robinson,25.0,Left Winger,West Bromwich Albion,?,out,Summer,NaN,Premier League,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00

# Removing duplicates

In [24]:
df = final_df

to_drop = []
duplicated = df[df[['player_name', 'fee_cleaned']].duplicated()][['club_name', 'player_name']].drop_duplicates()
for j, duplicate in tqdm(duplicated.iterrows(), total = len(duplicated)):
    for i, row in df.iterrows():
        if (row.club_name == duplicate.club_name) and (row.player_name == duplicate.player_name):
            if not (row.league_y in row.league_x and row.league_y in row.league_name):
                to_drop.append(i)

df = df.drop(to_drop)

for i, row in tqdm(df[df[['player_name', 'fee_cleaned']].duplicated()].iterrows()):
    df = df[(df.player_name != row.player_name) | (df.club_name != row.club_name)]

100%|██████████| 394/394 [02:00<00:00,  3.28it/s]
197it [00:01, 186.90it/s]

In [25]:
df.to_csv('data/clean_data.csv')